:root{
    --font : 'Poppins', sans-serif;
    --backgroundColor :#F3DFC1; /*for headers and footers*/
    --lightBlue : #368F8B;
    --signOutRed: #EE7B6B;
    --background: #fff; /*for main pages*/
    --orange :#EEB76B;
    --red : #EE7B6B;
    --formColor : #fffaf3;
    --frameColor1 :#FDC2B4;
    --frameColor2 : #FDD8CF;
    --frameColor3 : #FDE6DB;
}   
body{
    /* overflow: hidden; */
    margin:0;
    font-family: var(--font);
    background-color:var(--background);
}
.main{
    width:70vw;
    margin: 100px auto 0 auto;
    text-align: center;
}
.footer{
    z-index:3;
    background-color: var(--backgroundColor);
    width:100vw;
    height:10vh;
    position: fixed;
    bottom:0;
}
.footerText{
    font-family: var(--font);
    text-align: center;
    margin-top:4vh;
}
.header{
    z-index:3;
    background-color: var(--backgroundColor);
    width:100vw;
    height:10vh;
    position: fixed;
    top:0;
}
.logoImg{
    width:80%;
}
.headerText{
    display: flex;
    justify-content: space-between;
    width:100vw;
    /* margin-left:1000px; */
    display: flex;
    font-family: var(--font);
    text-align: center;   
}
.signinLink, .signupLink{
    text-decoration: none;
    font-size: 20px;
}
.signup{
    margin: 3vh 3vw 0 0;
    width: 10vw;
    height:4vh;
    background-color: var(--signOutRed);
    border-radius: 5%;
}
.signin{
    width:20vw;
    margin-top:22px;
}
.signupLink{
    color:#fff;
}
.signinLink{
    color:#000;
}
.signoutLink{
    color:#000;
}
.linksWrapper{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
/*Header sign in part*/
.table{
    display: flex;
    text-align: center;
    width:370px;
    margin-left: 390px;
    max-height: 50vh;
}
.linkTable{
    height:50px;
    width:150px;
    /* border : 1px solid #000; */
    margin-top:15px;
}
 /* .links{
    padding-bottom:20px;
} */
.active__true, .active__false{
    /* border: 1px solid #000; */
    width:75px;
}
.views{
    /* border:1px solid #000; */
    width: 75px;
}
.on{
    border-bottom: 1px solid var(--lightBlue);
    width:70px;
}
.forms{
    margin-top:15px;
    display: flex;
    width:200px; 
    height:30px;
    text-align: center;
}
/*index*/
.mainIndex{
    border-radius: 7px;
    height:330px;
    width:650px;
    background-color:var(--formColor);
    margin: 150px 0 0 100px;
}
.marginerTop{
    padding-top:40px;
}
label.contextLink{
    font-size:20px;
    margin-bottom:5px;
}
/*Signin */
.signinForm{
    z-index:99;
    width:840px;
    height:400px;
    margin:150px 0 0 100px;
    background-color: var(--formColor);
    border-radius : 7px;
    position: fixed;
}
.marginer{
    margin-left:50px;
}
.orange{
    color:var(--orange);
}
.red{
    color:var(--red);
}
.wrapper{
    display: inline;
}
.toSignUpLink{
    color: #000;
}
input[type="mail"], input[type="password"], input[type="url"], input[type="text"]{
    width:427px;
    height:45px;
    border:3px solid var(--red);
    border-radius: 7px;
    text-align: center;
    margin-bottom:30px;
}
input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    background-color: var(--signOutRed);
    border:none;
    border-radius: 7px;
    color:#fff;
    height:50px;
    width:200px;
    font-size:18px;
}
input[type="submit"]:hover{
    cursor:pointer;
}
.randomFrame{
    border-radius:10%;
}
.frame1{
    z-index:0;
    width:150px;
    height:340px;
    transform: rotate(-65deg);
    border : 70px solid var(--frameColor1);
    margin : 0 0 0 95vw;
}
.frame2{
    z-index:-1;
    width:100px;
    height:50px;
    transform: rotate(-10deg);
    border : 30px solid var(--frameColor2);
    margin: 0 0 50vh 60vw;
}
.frame3{
    position: absolute;
    top:15%;
    z-index:-1;
    width:150px;
    height:75px;
    transform: rotate(-10deg);
    border : 25px solid var(--frameColor1);
   
}
.frame4{
    position: absolute;
    top:35%;
    right:20%;
    z-index:-1;
    width:150px;
    height:75px;
    transform: rotate(40deg);
    border : 25px solid var(--frameColor3);
}
.frame5{
    position: absolute;
    top:65%;
    right:95%;
    z-index:-1;
    width:20px;
    height:15px;
    transform: rotate(150deg);
    border : 5px solid var(--frameColor2);
}
.frame6{
    position: absolute;
    top:60%;
    right:30%;
    z-index:-1;
    width:400px;
    height:150px;
    transform: rotate(150deg);
    border : 65px solid var(--frameColor1);
}
input[type="url"]{
    margin-top:5px;
}
/*Sign up page*/
.signupForm{
    width:840px;
    height:550px;
    background-color: var(--formColor);
    margin: 95px 0 0 100px;
    border-radius : 7px;
}
.signedOutMain{
    width:840px;
    height : 350px;
    background-color: var(--formColor);
    margin: 150px 0 0 250px;
    border-radius : 7px;
}
.comeBack{
    text-align: right;
    margin-top:200px;
}
/*responsive tablets*/
@media only screen and (min-width: 768px){
    .signinForm{
        width:640px;
        height:400px;
        margin:150px 0 0 50px;
    }
    .mainIndex{
        margin:150px 0 0 50px;
    }
    .signupForm{
        width:640px;
        height:550px;
        margin: 150px 0 0 60px;
    }
    .mainTitle{
        padding-top:5px;
        font-size:20px;
    }
    .signedOutMain{
        width:640px;
        height : 350px;
        margin: 150px 0 0 50px;
    }
}
/*phone responsive*/
@media only screen and (max-width: 600px) {
    .signinForm{
        width:440px;
        height:400px;
        margin:150px 0 0 50px;
    }
    .signupLink{
        font-size:17px;
    }
    .linksWrapper{
        width:200px;
    }
    .mainIndex{
        margin:150px 0 0 0px;
    }
    .signupForm{
        width:550px;
        height:550px;
        margin: 150px 25px 0 30px;
    }
    .mainTitle{
        padding-top:5px;
        font-size:20px;
    }
    .signedOutMain{
        width:440px;
        height : 350px;
        margin: 150px 0 0 65px;
    }
}